* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
#root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;
}

.Enter {
  width: 100%;
  height: 100%;
}

.Enter_div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  overflow: hidden;
}

.Enter .logo {
  width: 100%;
  margin-left: 20px;
}

.logo_background {
  width: 100%;
  height: 100%;
  background-color: rgb(3, 3, 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  transform: perspective(600px) rotateY(-10deg) rotateX(10deg);
  /* perspective-origin: -170%; */
}

.grid_span {
  grid-column: span 1;
  position: relative;
}

.grid_span img {
  width: 100%;
  height: 100%;
}

.grid_span h5 {
  position: absolute;
  top: 4px;
  left: 4px;
  color: white;
}

.Home {
  width: 100%;
  height: 100vh;
  padding: 20px 30px;
}

.small_logo {
  width: 220px;
  height: 50px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header nav {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}

header nav ul li {
  width: 100px;
  height: 100%;
  display: inline-block;
  text-align: center;
}

header nav ul a {
  color: white;
}

.services {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.services span {
  margin-right: 10px;
}

.GenreList {
  width: 100%;
  margin-bottom: 40px;
}

.GenreList_Column {
  width: 100%;
  overflow-y: hidden;
  display: flex;
  margin-top: 10px;
}

.GenreList_Column::-webkit-scrollbar {
  display: none;
}

.GenreItem {
  margin-right: 10px;
}

.Detail {
  width: 100%;
  height: 100%;
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Detail_text_column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  float: left;
  width: 50%;
}

.Detail_text_column h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.Detail_text_sub {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.Detail_text_sub p {
  font-size: 20px;
  margin-right: 20px;
}

.Detail_text_sub p:first-of-type {
  color: #37a651;
  font-weight: 600;
}

.Detail_text_sub p:last-of-type {
  border: 1px solid gray;
  padding: 0px 5px;
}

.Detail_gerne_text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Detail_gerne_text p {
  font-size: 20px;
  margin-right: 20px;
}

.Detail_description {
  font-size: 20px;
  margin-top: 20px;
  line-height: 25px;
}

.Detail_img {
  width: 50%;
  float: right;
  display: flex;
  justify-content: center;
}
